<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "R. Manev" %></title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <%= stylesheet_link_tag  'site', "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag  'site', "https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans" %>
    <%= stylesheet_link_tag  'site', "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

  </head>
  <body class="<%= page_classes %>">

  <!-- ========================== NAVBAR STARTS HERE============================== -->

<div class="navbar-fixed">
<!--   <nav class="white" role="navigation">
 --><!--     <div class="nav-wrapper container">  -->
<!--       <ul class="right hide-on-med-and-down">
        <li><a class="light-blue-text" href="#!/projects" data-anchor="#!/projects">Projects</a></li>
        <li><a class="light-blue-text" href="#!/contact" data-anchor="#!/contact">Contact</a></li>
      <ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
<!--       <a href="http://www.rmanev.com">
        <div class="logo">
          <span class="stretch">Rumen Manev</span>
        </div>
      </a> -->
<!--   </nav> -->
  </div>

<!-- ========================== NAVBAR ENDS HERE============================== -->

    <%= yield %>

<!-- ========================== FOOTER STARTS HERE============================== -->

  <footer class="page-footer white">
    <div class="container">
      <div class="row">
<!--         <div class="col l6 s12">
          <h5 class="white-text">Elevator Pitch</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div> -->
        <!-- <div class="col l6 s12"> -->
          <ul class="contact-info center">
            <li class="linkedin"><a href="https://www.linkedin.com/in/rmanev/" target="blank"><i class="fa fa-linkedin-square fa-2x grey-text"></i></a></li>
            <li class="xing"><a href="https://www.xing.com/profile/Rumen_Manev?sc_o=mxb_p" target="blank"><i class="fa fa-xing fa-2x grey-text"></i></a></li>
            <li class="medium"><a href="https://medium.com/@room_n" target="blank"><i class="fa fa-medium fa-2x grey-text"></i></a></li>
            <li class="twitter"><a href="https://twitter.com/room_n" target="blank"><i class="fa fa-twitter fa-2x grey-text"></i></a></li>
            <li class="instagram"><a href="https://www.instagram.com/room_n" target="blank"><i class="fa fa-instagram fa-2x grey-text"></i></a></li>
            <li class="angellist"><a href="https://angel.co/rumen-manev" target="blank"><i class="fa fa-angellist fa-2x grey-text"></i></a></li>
            <li class="github"><a href="https://github.com/rum-n" target="blank"><i class="fa fa-github fa-2x grey-text"></i></a></li>
          </ul>
        <!-- </div> -->
        <div class="grey-text center">
        &#169; Rumen Manev 2017
        </div>
      </div>
    </div>
  </footer>

<!-- ========================== FOOTER ENDS HERE============================== -->


  </body>
</html>
